extends email-layout

block content
  h1(style='text-align:left;') River Collective
  h2 Password Reset
  p You recently requested a password reset for an account registered under #{user.email}. Please click the button below to reset your password. Please note this link is only valid for the next hour.
  +button(resetURL, 'Reset my Password')
  p If you can't click the above button please visit:
    a(href=resetURL) #{resetURL}
  p If you didn't request this email, please disregard, or it to
    a checktheflowsabuse@gmail.com.
