.toolbar {
  width: 100%;
  padding: 10px;
  text-align: left;
  display: flex;
  align-items: baseline;
  background-color: white;
  box-shadow:0px 1px 1px #dddd;
}
.logo {
  margin-right: 5px;
}
button {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 0px;
}
.btn-active {
  color: white;
  background-color: #406ade;
}
.button-block {
  margin-left: 150px;
}