html {
  font-size: 15px;

  body {
    margin-top: 90px;

    @media #{$break-medium} {
      margin-top: 79px;
    }

    .inner {
      margin: auto;
      max-width:100%;
      color: $color-black;
      background-color: $color-white;

      .--no-mobile {
        display: none;

        @media #{$break-medium} {
          display: initial
        }
      }

      &.--flash {
        top: 90px;
        width: 100%;
        z-index: 2000;
        position: fixed;

        @media #{$break-medium} {
          top: 79px;
        }
      }
    }

    #vue {
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
  }
}
