.mobile-menu {
  display: block;
  position: absolute;
  left: 0;
  top: -1000px;
  width: inherit;
  box-shadow: none;
  transition: top .5s;

  &-open {
    top: 90px;
    width: 100%;
    background-color:#fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  }

  .menu-item {
    display: block;
    text-align: left;
    color: $color-blue;
    background-color: $color-white;
    border-bottom: 2px solid $color-blue;
    padding: pxem(30) 0 pxem(30) pxem(10);

    &:last-child {
      border-bottom: none;
    }

    &.menu-divider {
        color: $color-white;
        background-color: $color-blue;
      }
  }
}
