.nav-bar {
  @include buttonText;

  top: 0;
  left: 0;
  width: 100%;
  display:flex;
  padding: 10px;
  z-index: 2000;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  background-color: $color-white;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);

  @media #{$break-medium} {
    padding: 0;
  }

  .logo-block {
    width: pxem(70);
    height: pxem(70);
    margin-right: pxem(15);
    background-size: cover;
    background-position: center;
    background-image: url('/images/brand/logo-icon.png');

    @media #{$break-medium} {
      margin-right: 0px;
    }
  }

  .arrow {
    width:pxem(30);
    height:pxem(30);
    border: none;
    display: block;
    transition: transform 0.5s;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-image: url('/images/icons/nav-arrow.png');

    &-open {
      transform: rotate(180deg);
    }

    @media #{$break-medium} {
      display: none;
    }
  }
}

.container {
    display:none;

    @media #{$break-medium} {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    a.drop-item {
    @include buttonText;

    color:$color-blue;
    padding: 14px 16px;
    text-decoration: none;

    &:hover{
      background-color:$color-lightest-gray;
    }
  }
}

.nav {

    &.--relative {
      position: relative;
    }

    .dropbtn {
      @include headerText;

      border:none;
      padding:30px 0;
      min-width: 130px;
      text-align:center;
      display:inline-block;
      background-color: $color-white;
      transition: background-color .5s;

      svg {
        width: 15px;
        margin-left: 5px;
      }

      @media #{$break-medium} {
        display:block;
      }
    }

    &:hover .dropbtn {
      background-color:$color-lightest-gray;
    }

    &:hover .dropdown-content{
      display:block;
    }
}

.notification {
  &-button {
    width: 80px;
    height: 80px;
    border: none;
    background: none;
    position: relative;

    &.--mobile {
      display: block;
      width: min-content;
      height: min-content;

      @media #{$break-medium} {
        display: none;
      }
    }

    &__icon {
      top: 50%;
      left: 50%;
      width: 30px;
      padding: 6px;
      display: block;
      position: absolute;
      color: $color-white;
      border-radius: 100%;
      background: $color-red;

      &.--blue {
        background: $color-white;
        border: 2px solid $color-blue;
      }

      &.--mobile {
        display: block;

        @media #{$break-medium} {
          display: none;
        }
      }
    }

    &__updated {
      width: 40px;
      padding: 2px;
      position: relative;
      color: $color-white;
      border-radius: 100%;
      background: $color-white;

      &.--mobile {
        width: 45px;
        display: block;

        @media #{$break-medium} {
          display: none;
        }
      }
    }
  }

  &-item {
    padding: 20px;
    font-size: 18px;
    background-color: $color-white;
    border-bottom: 1px solid $color-alt;

    &.--seen {
      background-color: $color-lightest-gray;
    }

    a {
      font-size: 18px;
      color: $color-blue;
    }

    span {
      font-size: 18px;
    }
  }

  &-dropdown {
    top: 80px;
    right: 0px;
    height: calc(100vh - 80px);
    max-width: 300px;
    text-align: left;
    overflow-y: scroll;
    width: max-content;
    position: absolute;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    &.--mobile {
      top: 100px;
      display: block;
      height: calc(100vh - 100px);

      @media #{$break-medium} {
        display: none;
      }
    }

    &.--hidden {
      display: none;
    }
  }
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    &:hover{
      background-color:$color-lightest-gray;
    }
  }
}
