@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: Helvetica;
}

html {
  font-size:15px;
}

body {
  font-size:1.5rem;
  color: $color-black;
}

h1 {
  color: $color-black;
  font-size: pxem(30);
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}

h2, h3, h4 {
  font-weight: normal;
  font-size: pxem(24);
  color: $color-black;
  font-family: $font-main;
}

p {
  font-weight: normal;
  font-size: pxem(20);
  font-family: $font-main;
}

ul {
  list-style-type: none;
}

a, span, li {
  font-size: pxem(16);
  text-decoration: none;
  font-family: $font-main;
}
