//colors
$color-alt: #BAC2FA;
$color-main: #4B8BF7;
$color-blue: #4B8BF7;
$color-green: #119933;
$color-white: #efefef;
$color-black: #333333;
$color-yellow: #ecf972;
$top-dot-color: #4B8BF7;
$bottom-dot-color: #777;
$color-red: #BE3B28;
$color-dark-red: #BE3B28;
$color-orange: #ff9d00;
$color-gray: #555555;
$color-light-gray: #bababa;
$color-lightest-gray: #CDCDDD;

//layout specs for gutters
$gutter-main: pxem(10);
$gutter-col: pxem(15);
$gutter-sub-col: pxem(5);

//spacing
$pad-sm: pxem(5);
$pad-md: pxem(10);
$pad-lg: pxem(20);

//breakpoints
$break-small: "only screen and (min-width: 640px)";
$break-medium: "only screen and (min-width: 725px)";
$break-large: "only screen and (min-width: 1024px)";

//fonts
$font-main: Helvetica, sans-serif;

//shadow
$shad: 0 0 10px rgba(0,0,0,.5), 0 5px 10px rgba(0,0,0,0.5);
