.report-creator {
  left: 0;
  top: 90px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 90px);
  background-color: rgba(0,0,0,0.75);
  font-family: 'Courier New', serif;

  @media #{$break-medium} {
    top: 79px;
    height: calc(100vh - 79px);
  }

  &__wrapper {
    padding: 15px;
    position: relative;
    overflow-y: scroll;
    height: calc(100vh - 110px);
    background-color: $color-white;

    @media #{$break-medium} {
      height: calc(100vh - 99px);
    }

    .flash {
      padding: 15px !important;
    }

    .section-header {
      margin-top: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-lightest-gray;

      .--inline {
          margin-left: 0;
          display: inline !important;

          @media #{$break-medium} {
            margin-left: 10px;
          }
      }

      h3 {
        display: inline;
        font-size: 18px;
        font-family: 'Courier New', serif;
      }
    }

    .selector-map {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position:fixed;
      top: 198px;
      height: calc(100vh - 198px);

      @media #{$break-medium} {
        top: 187px;
        height: calc(100vh - 187px);
      }

      .__google-map {
        height: 100%;
      }

      &--controls {
        left: 0;
        top: 90px;
        width: 100%;
        padding: 30px;
        display: flex;
        position: fixed;
        justify-content: space-between;
        background-color: $color-white;

        @media #{$break-medium} {
          top: 79px;
        }
      }
    }
  }

  .close-panel {
    display: block;
    margin-left: auto;
    margin-bottom: 10px;
  }

  button[type="submit"] {
    margin: pxem(10) 0;
  }

  .item-editor {

    &__inputs {
      font-size: 16px;
      padding: 10px 0;

      .collapsed-label {
          font-family: 'Courier New', serif;
      }

      .lat-lng {
        display: block;
        margin-bottom: 10px;
      }

      button {
        margin-top: 0px;
        display: inline !important;

        &.--circular {
          padding: 0px;
          min-width: 20px;
          max-width: 20px;
          min-height: 20px;
          margin-bottom: 10px;
          border-radius: 20px;

          @media #{$break-medium} {
            margin-bottom: 0px;
          }
        }
      }

      label {
        margin: 0 5px;
      }
    }
  }

  select {
    width: 100%;
    @media #{$break-medium} {
      width: initial;
    }
  }

  button, select, span {
    font-size: 16px;
    font-family: 'Courier New', serif;
  }

  input, textarea {
    width: 100%;
    font-family: 'Courier New', serif;
    border: 1px dashed $color-light-gray;
  }

  textarea {
    height: 50vh;
  }

  fieldset {
    padding: 10px;
    background-color: $color-lightest-gray;
    border-bottom: 1px solid $color-lightest-gray
  }

  input::placeholder {
    font-family: 'Courier New', serif;
  }
}
