.report-panel {
  padding: $c-pad;
  margin: $c-space;
  border-top: 1px solid $color-light-gray;

  &__header {
    padding-top: 15px;
    margin-bottom: 15px;

    h2 {
      display: block;
      color: $color-gray;
      margin-bottom: 10px;

      @media #{$break-medium} {
        display: inline;
        margin-bottom: 0;
      }
    }

    button {
      width: 100%;
      display: block;
      margin-left: 0;

      @media #{$break-medium} {
        width: initial;
        display: inline;
        margin-left: 10px;
      }
    }
  }

  &__list {
    padding: 15px 0;
    background-color: $color-lightest-gray;
  }

  &__report {
    width: 100%;
    padding: 15px;
    border: 2px solid $color-blue;
    background-color: $color-white;

    .report-header {
      &__left {
        
      }

      &__right {

      }
    }

    .report-body {

    }

    .report-data {

    }
  }

  &__no-reports {
    text-align: center;
  }

  &__button-wrapper {
    padding: 10px 0;
    margin-top: 5px;
    border-top: 1px solid $color-light-gray;

    button {
      display: block;
      margin-left: auto;
    }
  }
}
