mixin imageBand(item)
  - var orientLeft = item.orientImage && item.orientImage === 'left' ? true : false
  - var orientRight = item.orientImage && item.orientImage === 'right' ? true : false
  
  div.image-band
    if orientLeft
      div.image-band__image
        img(src= item.image)
      
    div.image-band__right
      div.image-band__copy
        if item.title
          h2.image-band__copy-header= item.title
        if item.body
          p.image-band__copy-body= item.body
        if item.link
          a.button.button-blue.button-medium(href= item.link.url)= item.link.text
          
    if orientRight
      div.image-band__image
        img(src= item.image)
