mixin loginForm()
  form.form(action='/login' method='POST')
    h2 Log In
    label(for='email') Email Address
    if prepopulate
      input(type='email' name='email' value=prepopulate)
    else
      input(type='email' name='email')
    label(for='password') Password
    input(type='password' name='password') 
    button.button.button-blue.button-medium(type='submit') Log In
