mixin threeColumn(item)
  div.three-column(id= item.hyperlink)
    if item.title
      h2.three-column__header= item.title
      
    div.three-column__columns
      each i, index in item.items
        - var mod = (index > 2 ? '--space-top' : '')
        div(class="three-column__col " + mod)
          if i.icon
            div.three-column__icon(style= "background-image: url(" + i.icon + ")")
          if i.title
            h3.three-column__header= i.title
          if i.body
            p.three-column__body= i.body
          if i.link
            div.three-column__link
              a.button.button-blue.button-medium(href= i.link.url)= i.link.text
