.filter-list {
  padding: 5px;
  display: block;
  width: inherit;
  background: $color-main;
  border-bottom: 2px solid $color-main;

  @media #{$break-medium} {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.__filter-drop {
  width: 100%;
  text-align:center;
  position: relative;
  border: 2px solid $color-alt;

  @media #{$break-medium} {
    width: 33%;
  }

  .__states-list, p {
    color: $color-black;
    font-family: $font-main;
  }

  .dropdown-content {
    left: 0;
    display:none;
    min-width: 100%;
    margin-top:pxem(10);
    margin-left: inherit;
    background: $color-white;

    &-open {
      display: block;
    }
  }

  .__states-list {
    list-style: none;
    text-align: left;
    font-family: $font-main;
    li {
      padding: 5px;

      &:hover {
        background: $color-alt;
      }
    }
  }

  .__filter-container {
    overflow: scroll;
    height: pxem(300);
  }
}

.__filter-check {
  display: flex;
  margin-left: 0;
  margin-top: pxem(10);
  align-items: center;
  color: $color-white;

  @media #{$break-medium} {
    margin-top: 0;
    margin-left: pxem(20);
  }

  &-box {
    margin-left: pxem(5);
    background: $color-white;
    border: 2px solid $color-alt;

    &.--active {
      background-size: cover;
      background-position: center;
      background-image: url('/images/icons/black-check.png');
    }
  }

  &-label {
    font-size: pxem(16);
    font-weight: normal;
  }
}
