.info-box {
  top: 85px;
  right: 5px;
  z-index: 1;
  width: 33%;
  position: fixed;

  &__content {
    width: 100%;
    padding: pxem(10);
    border-radius: 3px;
    font-size: pxem(16);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);

    &--success {
      background: $color-alt;
    }
  }

  &__inner {
    display: flex;
    padding: pxem(10);
    background: white;
    color: $color-black;

    &--info {
      padding-left: 35px;

      &::before {
        content: '';
        left: 10px;
        position: absolute;
        width: pxem(30);
        height: pxem(30);
        background-size: cover;
        background-position: center;
        background-image: url('/images/icons/info-bubble.png');
      }
    }

    p,a {
        font-size: pxem(16);
    }

    a {
      color: $color-main;
    }
  }

  &__remove {
    border:0;
    font-size: 20px;
    background: none;
    align-self: start;

    &:hover {
      color: $color-alt;
    }
  }
}
