//______map styles__________
.map {
  height: 100vh;
  padding: 20px;
  position: relative;

  &__right-panel {
    top: 0;
    right: 0;
    width: 100%;
    overflow-x: scroll;
    position: absolute;
    transition: right 300ms;
    height: calc(100% - 82px);
    background-color: $color-white;

    @media #{$break-medium} {
      width: 50%;
    }

    &--toggle {
      top: 10px;
      right: 10px;
      display: flex;
      position: absolute;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);

      img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
    }

    &.--closed {
      right: -100%;

      @media #{$break-medium} {
        right: -50%;
      }
    }
  }

  & .__mapbox-map {
    width: 100%;
    height: calc(100% - 82px);

    &.--crunch {
      width: 50%;
    }
  }

  .point_icon {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    background-size: cover;
    background-position: center;

    &:hover {
      cursor: pointer;
    }

    &.station {
      background-image: url('/images/icons/river_result_icon.png');
    }

    &.user {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 2px solid $color-main;
      }
    }

    &.reservoir {
      background-image: url('/images/icons/reservoir_result_icon.png');
    }

    &.snowpack {
      background-image: url('/images/icons/snowpack_result_icon.png');
    }
  }

  & .__popup {
    padding: 10px;

    &--view-button {
      margin-bottom: pxem(10);
    }

    h2 {
      margin-bottom: pxem(10);
    }

    p {
      margin: 15px 0;

      a {
        font-size: pxem(20);
      }
    }
  }

  & .__add-river {
    margin-top:5px;
    background:$color-main;
    border-top: none;
    color:#efefef;
    border: none;
    bottom:0px;
    width:inherit;

    &:hover {
      background: $color-alt;
    }
  }

  & .__notice {
    width: 70%;
    height:50%;
    background: $color-alt;
    opacity: .7;
    z-index: 2;
  }

  &--hidden {
    visibility: hidden;
    height: 0px !important;
  }

  .no-info-block {
    margin: 30px 0;
    position: relative;
    font-size: pxem(16);
    padding-left: pxem(40);

    &::before {
      content: '';
      left: 0;
      position: absolute;
      width: pxem(30);
      height: pxem(30);
      background-size: cover;
      background-position: center;
      background-image: url('/images/icons/info-bubble.png');
    }

    a {
      font-size: pxem(16);
    }
  }

  .mapboxgl-ctrl-attrib, .mapboxgl-ctrl-bottom-left {
    display: none;
  }
}
