.time-series {
  padding: 50px 10px;

  &-buttons {
    color: $color-white;
    width: 30%;
    margin-bottom: pxem(30);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    div {
      margin-right: pxem(10);
    }
  }

  &-notification {
    &-message {
      padding: pxem(20);
      margin: 0;
      color: $color-gray;
      font-size: 16px;
      background-color: $color-yellow;
    }
  }

  .label {
    font: $font-main;
    font-size: 24px;
  }

  .popup {
    font: $font-main;
    fill: #121212;
    font-size: 24px;
    background-color: #FFFFFF;

    &-current {
      fill: $color-blue;
    }

    &-historic {
      fill: $color-light-blue;
    }
  }
}
