extends layout

block content
  div(style="display: flex; align-items: center; flex-direction: column;")
    div(style="width: 58%; margin-right: auto;")
      img(width="100%" src="/images/photos/notfound-graphic.png")
    h2= status
    p= message
    button(onclick="window.history.back()").button.button-blue.button-medium Go Back
    pre.error!= stackHighlighted
