extends layout

include mixins/_heroBand
include mixins/_threeColumn

block content
  +heroBand({
    "bgimage": "/images/photos/hero-graphic.png",
    "icon": "images/brand/letterhead.png",
    "title": "Welcome To River Collective",
    "body": "Combining local observations with national datasets to serve river communities.",
    "link": {"url": "#productOutline", "text": "Learn More"}
  })
  +threeColumn({
    "title": "For Recreation",
    "hyperlink": "productOutline",
    "items": [
      {
        "icon": "/images/icons/list-icon.png",
        "title": "Create Lists",
        "body": "When you sign up with River Collective you can start saving stations to a list to quickly access the information you want.",
        "link": {"url": "/signup?p=reporting", "text": "Begin Logging Reports"}
      },
      {
        "icon": "/images/icons/notepad.png",
        "title": "Write Trip Reports",
        "body": "You can write trip reports for frequented stations. These reports can either be public, allowing others to learn from observations you've made, or private, letting you keep special locations and information to yourself.",
        "link": {"url": "/signup?p=lists", "text": "Start Making Lists"}
      },
      {
        "icon": "/images/icons/drip-icon.png",
        "title": "Support Conservation Efforts",
        "body": "Station pages also include relevant conservation initiatives that are active in the area, allowing you to stay up on events and issues within the watershed.",
        "link": {"url": "/signup?p=conservation", "text": "Get Involved"}
      }
    ]
  })
  +threeColumn({
    "title": "For Professionals",
    "items": [
      {
        "icon": "/images/icons/drip-icon.png",
        "title": "Conservation Groups",
        "body": "We are looking to parner with organizations and promote watershed conservation initiatives. Please contact us if you are interested in promoting your cause on River Collective.",
        "link": {"url": "mailto:checktheflows+organizations@gmail.com", "text": "Contact River Collective"}
      },
      {
        "icon": "/images/icons/outfitters.png",
        "title": "Outfitters",
        "body": "If you are an outfitter, shop owner, etc, and would like to connect with potential customers who are researching rivers in your area, please contact us and tell us how we can help.",
        "link": {"url": "mailto:checktheflows@+outfittersgmail.com", "text": "Contact River Collective"}
      },
      {
        "icon": "/images/icons/magnifying-glass.png",
        "title": "Researches",
        "body": "We have an API available for anyone looking to conduct research with our datasets. API enhancements are under construction throughout 2021, please enquire below to test our private beta.",
        "link": {"url": "mailto:checktheflows+apitrials@gmail.com", "text": "Request Trial"}
      }
    ]
  })
