doctype html
include ./header
html
  head
    title= "River Collective"
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/brand/logo-icon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(content="text/html;charset=utf-8" http-equiv="Content-Type")
    meta(content="utf-8" http-equiv="encoding")
  body
    +header
    block messages
      if locals.flashes
        .inner.--flash
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;

    .inner
      block content

    block scripts
      script(src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key")
      script(src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js')
      script(src="/dist/App.bundle.js")
