extends layout

block content
  form.form(method='POST')
    h2 Reset your password
    label(for='new-password') Password
    input(type='password' name='new-password' placeholder='password' required)
    label(for='confirm-password') Confirm Password
    input(type='password' name='confirm-password' placeholder='confirm password' required)
    button.button.button-blue.button-medium(type='submit') Sign Up
