.aria-table {
  width: 100%;
  display: block;
  overflow-x: scroll;
  font-size: initial;
  font-family: initial;
  margin-top: pxem(5);
  border: 1px solid $color-black;
  background-color: $color-lightest-gray;

  caption {
    text-align: left;
    margin-bottom: pxem(5);
  }

  td, th {
    padding: pxem(2);
    border-top: 1px solid $color-black;
    border-right: 1px solid $color-black;
  }
}
