.datafilter {
  margin: $pad-lg 0;
  padding-bottom: $pad-lg;
  border-bottom: 1px solid $color-light-gray;

  &__left {
    width: 100%;
    display: block;

    @media #{$break-medium} {
      width: 50%;
      display: inline-block;
    }

    .stats-summary {
      font-family: $font-main;

      &__unit {
        font-size: pxem(15);
      }

      &__positive {
        color: $color-green;
      }

      &__negative {
        color: $color-red;
      }

      &__unchanged {
        color: $color-gray;

        span:nth-child(3) {
          font-size: pxem(15);
        }
      }

      &__change {
        font-size: pxem(24);
      }
    }
  }

  &__right {
    width: 100%;
    display: block;
    margin-top: pxem(10);

    @media #{$break-medium} {
      width: 49%;
      margin-top: 0;
      display: inline-flex;
      justify-content: flex-end;
    }

    &--filter {
      z-index: 200;
      cursor: pointer;
      position: relative;
      display: inline-block;

      &:hover {
        p {
          color: $color-white;
        }
      }

      &-arrow {
        font-size: pxem(10);
      }

      p {
        font-size: pxem(18);
        color: $color-black;
      }
    }

    .dropdown {
      left: 0;
      top: 99%;
      width: 100%;
      z-index: 100;
      display: none;
      margin-top: pxem(2);
      position: absolute;
      background-color: $color-white;
      border: 2px solid $color-light-gray;

      &.--active {
        display: block;
      }

      li {
        width: 100%;
        cursor: pointer;
        padding: pxem(5) 0;
        text-align: center;
        color: $color-black;

        &:hover {
          background-color: darken($color-white, 10%);
        }
      }
    }

    h2 {
      display: none;

      @media #{$break-medium} {
        display: block;
      }
    }

    button, a {
      margin-right: pxem(5);
      display: inline-block;

      &.--hollow {
        color: $color-black;
      }
    }
  }
}
