.mobile-chart {
  display: block;

  @media #{$break-medium} {
    display: none;
  }

  &__title {
    margin-bottom: pxem(30);
  }

  &__overview {
    margin-bottom: pxem(30);

    &--details {
      font-size: pxem(16);
    }

    .overview {
      margin-bottom: $pad-md;
    }

    .--normal {
      color: $color-blue;
    }

    .--negative {
      color: $color-red;
    }

    .--positive {
      color: $color-green;
    }
  }

  &__bars {

    &--bar {
      margin-bottom: pxem(20);
    }

    &--reading {
      margin-bottom: pxem(10);  
    }

    &--current {
      height: pxem(20);
      display: inline-block;
      background-color: $color-blue;
    }

    &--historic {
      height: pxem(20);
      display: inline-block;
      background-color: $color-light-gray;
    }
  }
}
