.station-page {

  &__header {
    padding: pxem(40);
    background-color: $color-blue;
    border-bottom: 2px solid $color-blue;

    h1, a {
      text-align: center;
      color: $color-blue;
    }

    h1 {
      margin-bottom: $pad-lg;
    }

    a {
      display: block;
      text-decoration: underline;
    }
  }

  &__add-station {
    top: 90px;
    left: 15px;
    position: fixed;

    @media #{$break-medium} {
      top: 79px;
    }
  }

  &__filters {
    display: flex;
    justify-content: space-evenly;
    padding: pxem(30) pxem(40);
    background-color: $color-white;
    border-bottom: 1px solid $color-light-gray;

    .mobile-button {
      width: 33%;
      display: flex;
      align-items: center;
      flex-direction: column;

      @media #{$break-medium} {
        display: none;
      }

      &.--usgs {
        a {
          background-image:url('/images/icons/usgs-filter-icon.png');
        }
      }

      &.--snotel {
        a {
          background-image:url('/images/icons/snotel-filter-icon.png');
        }
      }

      &.--reservoir {
        a {
          background-image:url('/images/icons/reservoir-filter-icon.png');
        }
      }

      &.-active {

        &.--usgs {
          a {
            background-image:url('/images/icons/usgs-filter-icon-active.png');
          }
        }

        &.--snotel {
          a {
            background-image:url('/images/icons/snotel-filter-icon-active.png');
          }
        }

        &.--reservoir {
          a {
            background-image:url('/images/icons/reservoir-filter-icon-active.png');
          }
        }

        p {
          display: block;
          text-align: center;
          color: $color-blue;
          font-size: pxem(18);
        }

        a {
          color: $color-white;
          background-color: $color-blue;
        }
      }

      p {
        width: 100%;
        display: none;
      }

      a {
        display: block;
        width: pxem(70);
        height: pxem(70);
        color: $color-blue;
        border-radius: 100%;
        background-size: cover;
        background-position: center;
        background-color: $color-white;
        border: 2px solid $color-blue;
      }
    }

    .button {
      width: 32%;
      display: none;

      @media #{$break-medium} {
        display: block;
      }
    }
  }
}
