.tooltip {
  top: 0;
  z-index: 1000;
  display: none;
  padding: pxem(5) pxem(10);
  position: absolute;
  border-radius: pxem(3);
  background: $color-white;
  border: pxem(2) solid $color-blue;

  @media #{$break-medium} {
    display: block;
  }

  &__label {
    font-weight: normal;
    font-size: pxem(16);
    color: $color-gray;
  }

  &__overview {
    font-weight: bold;
    font-size: pxem(16);
    margin-bottom: pxem(5);

    &--reading {
      font-weight: normal;
    }
  }

  &__diff {
    padding: 0 pxem(10);
    color: $color-black;
    font-size: pxem(16);

    &.--positive {
      color: $color-green;

      &::before {
        content: '↑';
      }
    }

    &.--negative {
      color: $color-red;

      &::before {
        content: '↓';
      }
    }
  }

  .--unit {
    font-weight: normal;
    font-size: pxem(14);
  }

  p {
    display: inline-block;
  }
}
